
   <div class="login-container">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  
      <label>Username:</label>
      <input type="text" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error">
        Username is required
      </div>
  
      <label>Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']" class="error">
        Password is required
      </div>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']" class="error">
        Minimum 5 characters required
      </div>
  
      <button type="submit">Login</button>
  
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
  